!!! 5
%html
  %head
    = haml(:_header, :locals => {'title' => 'Reports'})

  %body
    - standup_date = locals['standup_date']
    - previous_standup = Standup.previous(standup_date)
    - next_standup = Standup.next(standup_date)
    .header
      %h2
        = standup_date
      %h4
        - if previous_standup
          %a{href: "/standup/#{previous_standup.created_at.to_date}"}<
            previous
        - else
          previous
        |
        - if next_standup
          %a{href: "/standup/#{next_standup.created_at.to_date}"}<
            next
        - else
          next
        |
        - if standup_date != Date.today.to_s
          %a{href: "/standup/#{Date.today}"}<
            today
        - else
          today

    .content
      .pure-g
        - if locals['reports'].count == 0
          .pure-u.column
            No reports for now
        - else
          - locals['reports'].each do |standup|
            .pure-u
              .column
                .row.pure-g
                  .pure-u
                    - avatar_url = standup.avatar_url ? standup.avatar_url : "/images/dummy-profile-pic.png"
                    %img.avatar{width: "64", height: "64", alt: "#{standup.name}'s avatar", src: avatar_url}
                  .pure-u
                    %h4.name
                      = standup.name
                .row#yesterday
                  %strong I går:
                  = standup.yesterday
                .row#today
                  %strong I dag:
                  = standup.today
                .row#problem
                  %strong Problem(er):
                  = standup.problems
