!!! 5
%html
  %head
    %title= "Reports"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@1.0.0/build/pure-min.css", :integrity => "sha384-", :rel => "stylesheet"}
    %link{:href => "https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css", :rel => "stylesheet"}
    %link{:href => "/stylesheet.css", :rel => "stylesheet"}

  %body
    .header
      %h2
        = locals['standup_date']

    .content
      .pure-g
        - locals['reports'].each do |standup|
          .pure-u
            .column
              .row.pure-g
                .pure-u
                  - avatar_url = standup.avatar_url ? standup.avatar_url : "/images/dummy-profile-pic.png"
                  %img.avatar{width: "64", height: "64", alt: "#{standup.name}'s avatar", src: avatar_url}
                .pure-u
                  %h4.name
                    = standup.name
              .row#yesterday
                %strong I går:
                = standup.yesterday
              .row#today
                %strong I dag:
                = standup.today
              .row#problem
                %strong Problem(er):
                = standup.problems
