%a#menuLink.menu-link{href: "#menu"}
  / Hamburger icon
  %span
#menu
  .pure-menu
    %a.pure-menu-heading{href: "/"} Standbot
    %ul.pure-menu-list
      %li.pure-menu-item
        %a.pure-menu-link{href: "/team/#{team.name}"} Hjem
      %li.pure-menu-item
        %a.pure-menu-link{href: "/team/#{team.name}/members/add"} Legg til medlem
      %li.pure-menu-item
        %a.pure-menu-link{href: "/team/#{team.name}/members"} Medlemmer
      %li.pure-menu-item
        %a.pure-menu-link{href: "/team/#{team.name}/standups"} Stand-ups
      %li.pure-menu-item
        %a.pure-menu-link{href: "/team/#{team.name}/edit"} Rediger
