.pure-g
  .pure-u
    %img.avatar{width: "64", height: "64", alt: "#{report.member.full_name}'s avatar", src: report.member.avatar_url}
  .pure-u
    %h4.name.report-header
      = report.member.full_name
- if report.yesterday
  .row#yesterday
    %strong I går:
    :escaped
      #{report.yesterday}
- if report.today
  .row#today
    %strong I dag:
    :escaped
      #{report.today}
- if report.problem
  .row#problem
    %strong Problem(er):
    :escaped
      #{report.problem}
