.header
  %h1
    = team.name
  %h2 Liste over stand-ups

.content
  %p

  .pure-g
    .pure-u-1.pure-u-md
      %ul#membersList
        - if team.standups.empty?
          %li Ingen standups
        - else
          - team.standups.each do |standup|
            - date = standup.created_at.to_date
            %a{href: "/team/#{team.name}/standups/#{date}"}
              %li.memberRow
                .pure-g
                  .pure-u
                    %div
                      %h3
                        = date

                    - standup.members.each do |member|
                      .pure-u.relative
                        %img.avatar{width: '64', height: '64', alt: "#{member.full_name}'s avatar", src: member.avatar_url}
                        - if member.vacation?
                          .center.white
                            %i.material-icons.md-48 beach_access

                    - team.members.each do |member|
                      - unless standup.members.include?(member)
                        .pure-u.relative
                          %img.avatar.desaturate{width: '64', height: '64', alt: "#{member.full_name}'s avatar", src: member.avatar_url}
                          .center.white
                            - if member.vacation?
                              %i.material-icons.md-48 beach_access
                            - else
                              ?
