.header
  %h1
    = team.name
  %h2
    = standup_date

.content
  = haml(:'standup/_nav', locals: { team: team, standup_date: standup_date })
  = haml(:'standup/_standup', locals: { reports: reports })
  = haml(:'standup/_missing_report', locals: { team: team, standup: standup })
